<div style="width:100% !important">
  <main class="mdl-grid " style="margin: auto; width:100% " >

    <div class="mdl-color--white mdl-shadow--0dp mdl-cell mdl-cell--4-col mdl-grid onlyHeight" style="">
      <app-file-graph></app-file-graph>
    </div>

    <!-- <div class="mdl-color--white mdl-shadow--0dp mdl-cell mdl-cell--6-col mdl-grid onlyHeight">
      <app-costing-graph1></app-costing-graph1>
    </div> -->

    <div class="mdl-color--white mdl-shadow--0dp mdl-cell mdl-cell--7-col mdl-grid onlyHeight"  style="">
      <app-file-table></app-file-table>
    </div>

    <!-- <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid heightAndWidth"  >
      <app-costing-graph4></app-costing-graph4>
    </div> -->

    <div class="mdl-color--white mdl-shadow--0dp mdl-cell mdl-cell--12-col mdl-grid" style="overflow-x:auto ; width:100%; " style="" >
      <app-filecontent></app-filecontent>
    </div>

  </main>
</div>
