<div style="width:100% !important">
  <main class="mdl-grid" style="margin: auto; width:100%">

    <!-- <div class="mdl-color--white mdl-shadow--0dp mdl-cell mdl-cell--0-col mdl-grid onlyHeight" style="">
      <app-file-graph></app-file-graph>

    </div> -->

    <div class="mdl-color--white mdl-shadow--0dp mdl-cell mdl-cell--12-col mdl-grid onlyHeight"  style="z-index:1">
      <div class="mdl-color--white mdl-shadow--0dp mdl-cell mdl-cell--12-col mdl-grid onlyHeight"  style="">
        <div style="height: 100%; width: 100%;" >
          <app-file-table></app-file-table>

        </div>

      </div>

    </div>


  </main>
</div>
