.formContainer {
  width: 100%;
  height:70vh;
  text-align: center;
  justify-content: center;
}

.input-item {
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
}
.mat-form-field {
  min-width: 620px;
}
.border-form{
  border-bottom: 1px solid #E0DDDD;
  width: 114%;
  padding-top: 2%;
}

.button-add-field{
  float: right;
  margin-top: -4%;
  
}
.wapper{
  margin-top:6%;
  justify-content: center;
}

@media only screen and (max-width: 1610px) {
.mat-form-field {
  min-width:550px;
}
}
@media only screen and (max-width: 1510px) {
  .mat-form-field {
    min-width:500px;
  }
  }
@media only screen and (max-width: 1440px) {
 
  .wapper {
    margin-top: 10%;
}
.mat-form-field {
  min-width:450px;
}
}
@media only screen and (max-width: 1366px) {

.button-add-field{
  margin-top: -7%;
  
}


}
@media only screen and (max-width: 1024px) {
  .input-item {
    padding-left: 45px;
    padding-right: 45px;
  }
  .button-add-field{
    margin-top: -15%;
    
  }
  .wapper {
    margin-top: 13%;
}
}
@media only screen and (max-width: 768px) {
  .button-add-field {
     margin-top: 10%;
     margin-right: 2%;
  }
}
@media only screen and (max-width: 414px) {

.button-add-field {
  margin-top: -48%;
}
.border-form{
 margin-top: 10%;
}
}