<div style="width:100% !important">

  <main class="mdl-grid " style="margin-left:0%; text-align: center; " >

    <div class="mdl-color--white mdl-shadow--0dp mdl-cell mdl-cell--12-col mdl-grid " style="overflow:auto; margin:auto;  text-align: center; "  >
      <div id="regions_div" style=" height:600px;  "  ></div>

    </div>

    <div class="mdl-color--white mdl-shadow--0dp mdl-cell mdl-cell--12-col mdl-grid">
      <app-summary-graph1></app-summary-graph1>
    </div>

    <div class="mdl-color--white mdl-shadow--0dp mdl-cell mdl-cell--12-col mdl-grid">
      <app-summary-graph2></app-summary-graph2>
    </div>

    <div class="mdl-color--white mdl-shadow--0dp mdl-cell mdl-cell--6-col mdl-grid">

    </div>

  </main>

</div>
