.tabView {
  overflow: auto;
  position: relative;
  height:90vh !important;
}
.container{
  width:100%;
}
.normal-div{
  width:80%;
  height:100%;
  position:relative;
  float:left;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.expansion-btn{
  position: fixed;
  top: 80px;
  right: 370px;
}
.arrow-back{
  display: none;
}
.arrow-back.active{
  display:block;
}

.close.active{
  display:none;
}
.expansion-btn.active {
/*  transform: rotate(-45deg);*/
transition: all 500ms ease-in-out;
}

.expanded-div{
    width:100%;
}
.compressed-div{
  width:0%;
}
@media only screen and (max-width:500px) {
  .normal-div{
   width:100%;
   height:auto;
  }
  .normal-div-1{
    float:left;
  }
  .expansion-btn{
    display:none;
  }
}