<main class="mdl-grid ">
  <!--    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-grid tabView" >
       
    <router-outlet></router-outlet>
  </div>

  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-grid">
      <div id="menu">
    <app-summary></app-summary>
  </div>
</div>-->
<div class="container">
    
      <div class="normal-div" id="exp-div">
          <div class="mdl-color--white mdl-shadow--2dp  tabView" >
              
           <router-outlet></router-outlet>
         </div>
        </div>
      <div class="normal-div-1" >
          <div class="mdl-color--white mdl-shadow--2dp tabView">
            <app-summary></app-summary>
          </div>
        </div>
      </div>
</main>
