
.tabView {
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  height:90vh !important;
}

.container {
  width:100%;
}
.normal-div {
  width:80%;
  height:100%;
  position:relative;
  float:left;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.expansion-btn {
  position:absolute;
  top: 10px;
  right:10px;
  z-index:9;
}

.arrow-back{
  display: none;
}
.arrow-back.active{
  display:block;
}

.close.active{
  display:none;
}
.expansion-btn.active {
/*  transform: rotate(-45deg);*/
transition: all 500ms ease-in-out;
}

.expanded-div{
    width:100%;
}
.compressed-div{
  width:0%;
}
@media only screen and (max-width:500px) {
  .compressed-div{
    width:100%;
  }
  .expanded-div{
    width:20%;
}

}
