.summary{
min-height:78vh;
top:0;
position: absolute;
overflow: hidden;
}
.bg{
  background: url('http://demos.creative-tim.com/material-dashboard/assets/img/sidebar-1.jpg') center / cover;
  opacity: 0.1;
  min-height:90vh;
}
.mdl-card__actions a {
  width:92%;
  margin-left:4%;
  text-align: left;
  overflow: hidden;
  font-size: 15px;
  text-transform: capitalize;
}

.mdl-card__actions.active a {
  background-color: rgb(255,64,129);
  color: #fff;
  box-shadow: 0 12px 20px -10px rgba(255,64,129, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255,64,129, 0.2);
}

figure.snip1321 {
  position: relative;
  overflow: hidden;
  margin: 0px 0%;
  max-width: 360px;
  min-width: 100%;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip1321 img {
  max-width: 360px;
  vertical-align: top;
  filter: blur(3px);
  min-width: 100%;
  
}
figure.snip1321 figcaption {
  top: 90%;
  position: absolute;
  opacity: 0;
  font-weight:500;
  z-index: 1;
}
.project-name-display{
  position: absolute;
  bottom: 0;
  z-index: 1;

}
.project-name{
  color: #fff;
  font-weight:500;
  font-size:1.6em;
  padding:0 10px 0 10px;
}

figure.snip1321:after {
  background:url("https://geekydementia.files.wordpress.com/2014/11/os_x_lynx-2560x1600.jpg") center/cover;
  position: absolute;
  content: "";
  display: block;
  width: auto;
  margin:0 auto;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 1;
}

figure.snip1321 figcaption,
figure.snip1321 figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1321:after,
figure.snip1321:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity:1;
}


.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.mdl-card__actions.mdl-card--border {
  border-top: 0px solid rgba(0,0,0,.1);
}
.mdl-button.mdl-button--colored {
  color: #3C4858;
}
.mdl-card__supporting-text {
  color: #3C4858;
  width: 100%;
  font-size: 1em;
}

.menu_container{
  width: 99%;
  height: 500px;
  overflow-y: auto;
}
a:hover, a:focus {
  text-decoration: none;
}

@media only screen and (max-width:1650px) {
figure.snip1321 img {
  max-width: 300px;
  
}
}
@media only screen and (max-width:1440px) {
  figure.snip1321 img {
    max-width: 270px;
    
  }
  }
@media only screen and (max-width:500px) {
.bg{
  display:none;
}
.summary{
  position: relative;
  
  }
}
