<div class="bg"></div>
<div class="summary">

  <div class="demo-card-wide ">

<figure class="snip1321"><img src="https://geekydementia.files.wordpress.com/2014/11/os_x_lynx-2560x1600.jpg" alt="sq-sample26"/>
  
    <div class="project-name-display">
    <h4  class="project-name">{{projectSummary.name}} </h4>
    </div>
  

</figure>

    <div class="mdl-card__supporting-text">
      This is the temp. description of the project that is selected on the graph
      {{project_desc}}

    </div>

    <div class="menu_container" >

      <div class="mdl-card__actions mdl-card--border active">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect " (click)="viewUniverse()">
          Universe
        </a>
      </div>

      <!-- <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="viewProjectDetails()">
          Project Details
        </a>
      </div> -->

      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="viewProjectSummary()">
          Project Summary
        </a>
      </div>

      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="viewProjectCosting()" >
          Costing
        </a>
      </div>

      <!-- <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="viewProjectSummary()" >
          Timeline
        </a>
      </div>
      <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="projectSetting()" >
            Milestones
          </a>
        </div> -->


      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="vendor()" >
          Vendors
        </a>
      </div>

      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="viewFiles()" >
          Files
        </a>
      </div>

      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="projectSetting()" >
          Project Setting
        </a>
      </div>

    </div>

  </div>
</div>
