.project-main{
 height:90vh;
 overflow: auto;
}

.projectCard{
  height: 300px;
  margin-left: 2%;
}
.projects{
  padding: 30px;
}
.head-text{
  font-weight:400;
  font-size:1.8em;
  padding-top: 12%;
}
.center-items {
  justify-content: center;
}
.center-align{
  text-align: center;
}