<app-header></app-header>

<div >
<!-- <app-sun-brust></app-sun-brust> -->
</div>

<div class="project-main">
    <main class="mdl-grid center-items">
        <div *ngFor="let project of projects" class="mdl-shadow--2dp  mdl-cell mdl-cell--3-col projectCard" >
          <div class="projects">
              <div class="center-align">
          <h3 class="head-text">  {{project.project_name}} </h3>


          <!-- Accent-colored raised button with ripple -->
    <button (click)="body(project.project_id)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Details
      </button>
      <h5  class="dec-text">The Mission of QCI is to lead nationwide quality movement in India. </h5>
      <h5  class="creator-text">Created by:</h5>
      <p class="creator-text"> QCI SuperAdmin</p>
          </div>

        </div>
        </div>

    </main>

    </div>

<app-footer></app-footer>
