

  
  .mat-form-field {
    width: 295px;
    padding-left: 20px;
}
  .del-cus{
      right:6%;
      position: absolute;
  }
  .text-dec{
      color: #696464;
  }
  .actual-cost{
    font-weight: 400;
    font-size: 1em;
    text-align: left;
    line-height: 1;
  }
  .total-cost{
    font-weight: 400;
    font-size: 1em;
    text-align:left;
    line-height: 1;
  
}
.buttons-right{
  text-align: right;
}
.but-accordian{
  margin-left: 10%;
  
}
@media only screen and (max-width:1620px) {    

.mat-form-field {
  width: 250px;
 
}
}
@media only screen and (max-width:1520px) {    
  
  .mat-form-field {
    width: 210px;
   
  }
  }
  @media only screen and (max-width:1440px) {    
    
    .mat-form-field {
      width:210px;
     
    }
    }
  
        @media only screen and (max-width:1024px) {    
          
          .mat-form-field {
            width:136px;
           
          }
          }
          @media only screen and (max-width:768px) {    
          .mat-form-field{
            width: 159px;
        }
      }
      @media only screen and (max-width:500px) {    
        .mat-form-field{
          width: 159px;
      }
    }
      