


<div style="width:100% ;" >

  <main class="mdl-grid" style="margin: auto; " >
      <div *ngFor=' let com of costComponents' >
      <div class="wrapper">

        <ul>
          <li>
            <input type="checkbox" checked>
            <i class="icon-dropdown"></i>
            <h2>{{com.name}}</h2>

              <div class="tab-content">
                  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid ">

                      <p class="text-dec">{{com.desc}}</p>


                      <button  class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored del-cus" (click)='deleteComponent(com.chart_id)'>
                          <i  class=" material-icons">delete</i>

                        </button>

                      <div *ngFor = 'let ccdata of com.data' >

                        <md-form-field class="example-full-width input-item ">
                          <input mdInput placeholder={{ccdata.labelData}} type="text"  value={{ccdata.costData}} required>
                        </md-form-field>

                        <md-form-field class="example-full-width input-item">
                          <input mdInput placeholder="Date" type="text"  value={{ccdata.dateData}} required>
                        </md-form-field>



                      </div>
                      <div class=" mdl-cell--6-col">
                      <p class="actual-cost">Actual Cost:  {{com.estcost}}</p>
                      <p class="total-cost">Total Cost:    {{com.estcost}}</p>
                      </div>
                   <div class="buttons-right mdl-cell--6-col" >
                    <button  class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored but-accordian" disabled>
                        <i  class=" material-icons">edit</i>

                      </button>
                      <button  class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored but-accordian " disabled>
                        <i  class=" material-icons">save</i>

                      </button>
                   </div>

                  </div>
              </div>
          </li>
        </ul>

            </div>

              </div>






  </main>

</div>
