
.add-comoponet-button{
 float: right;
 text-transform: capitalize
}
.add-comonent{
    font-size: 1.2em;
    text-align: left;

}
.add-component-new{
    width: calc(100%) !important;
    text-transform: capitalize
}