<div style="width:100%; height:100%; background-color:yellow !imporatant; overflow: auto">
  <main class="mdl-grid" style="margin: auto; height: 100%; width:100%" >

    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid onlyHeight center-items">

      <div *ngFor='let imp of inputArray; let i = index'>

        {{i+1}}.
        <md-form-field class="example-full-width input-item ">
          <input mdInput placeholder='Location' type="text"  [(ngModel)]="imp.location" required>
        </md-form-field>

        <md-form-field class="example-full-width input-item ">
          <input mdInput placeholder='Size' type="number"  [(ngModel)]="imp.size" required>
        </md-form-field>

        <md-form-field class="example-full-width input-item ">
          <input mdInput placeholder='Cost' type="number"  [(ngModel)]="imp.cost" required>
        </md-form-field>

        <button md-button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" (click)='removeLocation()'>-</button>
        <br>
      </div>

      <button md-button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" (click)='addLocation()' >+</button>
      <button md-button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" (click)='saveLocation()' >save</button>

    </div>

  </main>
</div>
