<div id='main'>
    <div id='top'>
      <div id='push-menu-toggle'>
        <div class='burger'>
          <i class='fa fa-bars'></i>
        </div>
      </div>
      <div id='push-menu-state'>
        <strong>Push Menu State is</strong>
        <span class='cookie-is'></span>
      </div>
    </div>
    <div id='content'>
      <div class='page-header'>
        <h1>Refresh the frame to see cookies in action</h1>
      </div>
      <div class='page-story'>
        <p>Predefine your push menu state with cookies, using jquery.cookies.js plugin</p>
      </div>
    </div>
  </div>

  <div id='push-menu'>
    <h1 class='brand'>PUSH MENU w/COOKIES</h1>
    <ul class='nav-menu'>
      <li>
        <a href='#'>
          <i class='nav-image fa fa-home'></i>
          <span class='nav-name'>HOME</span>
        </a>
      </li>
      <li>
        <a href='#'>
          <i class='nav-image fa fa-anchor'></i>
          <span class='nav-name'>ABOUT US</span>
        </a>
      </li>
      <li>
        <a href='#'>
          <i class='nav-image fa fa-envelope'></i>
          <span class='nav-name'>CONTACT</span>
        </a>
      </li>
    </ul>
  </div>
