<h2 md-dialog-title>Costing component details</h2>
<hr>
<md-dialog-content>

  &nbsp;<br>

  <md-form-field class="example-full-width input-item ">
    <input mdInput placeholder="Name" type="text"  [(ngModel)]="ccname" required>
  </md-form-field>

  <md-form-field class="example-full-width input-item ">
    <input mdInput placeholder="Description" type="text"  [(ngModel)]="ccdesc" required>
  </md-form-field>

  <md-form-field class="example-full-width input-item ">
    <input mdInput placeholder="Estimated Cost" type="text"  [(ngModel)]="estcost" required>
  </md-form-field>


  &nbsp;<br>
  <!-- <strong>{{data}}</strong> -->
</md-dialog-content>

<md-dialog-actions>
  <button md-button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" (click)="onCloseConfirm()">SUBMIT</button>

  <button md-button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" (click)="onCloseCancel()">CANCEL</button>
</md-dialog-actions>
