.universe{
  max-height:78vh;

}
#tree-container{
  border: 0px;
  margin-top: 10%;
  background-color: white;
  width:20%;
  
}
.expansion-btn{
  position:absolute;
  top:10px;
  right:10px;
}

.expansion-btn.active {
transform: rotate(-45deg);
transition: all 500ms ease-in-out;
}
.expansion-btn.inactive {
  transform: rotate(45deg);
  transition: all 500ms ease-in-out;
  }
  

@media only screen and (max-width:500px) {
  .expansion-btn{
    display:none;
  }
}