.universe{
  max-height:78vh;

}
#tree-container{
  border: 0px;
  
  background-color: white;
  width:20%;
  
}

.link line {
  stroke: #696969;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
}

.hide {
  display: none;
}

.link line.separator {
  stroke: #fff;
  stroke-width: 2px;
}

.node circle {
  stroke: #ffffff;
  stroke-width: 1px;
}

.node circle:hover {
  stroke: #ccc;
  stroke-width: 1px;
  opacity: 1.0;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

.infobox rect {
  opacity: .5;
  fill: #F8D9D9;
  stroke: #815959;
  stroke-width: 0.25px;
}

.infobox text {
  color: #000000;
  background-color: lightblue;
  font-size: 20px;
}

.infobox a {
  color: #000000;
  background-color: lightblue;
  font-size: 20px;
}



