/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


path {
  stroke: #fff;
}

::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 20px;
}

/*universe graph starts here */

	.node {
    cursor: pointer;
  }

  .overlay{
      background-color:#fff;
  }

  .node circle {
    fill: #fff;
    stroke: #5d42ce;
    stroke-width: .2em;
  }

  .node text {
    font-size:1.1em;
		padding: 430px !important;
    font-family:sans-serif;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .additionalParentLink {
    fill: none;
    opacity: 0;
    stroke: blue;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }

  /*universe graph endss here */
  .button-right{
    width: 100%;
    text-align: right;
    padding-top: 2%;
}

	/* folder styling starts here */

	.selected{
			color: #ff4081;
	}
	.node {
			position: absolute;
			list-style: none;
			cursor: default;
	}
	.node span {
			margin-right: 3px;
	}

	.node .caret {
			font-size: 10px;
	}

	/* folder styling ends at here */

    /*tooltip starts here */
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(255,64,129);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(255,64,129) transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  /*tooltip ends here */

  /*floating ends here */



  .FAB {
    position: absolute;
    bottom: 20px;
    left: 60px;
    width: 56px;
  }
  .FAB__action-button, .FAB__mini-action-button {
    cursor: pointer;
    position: absolute;
  }
  .FAB__action-button {
    bottom: 0;
    right: 0;
  }
  .button-info{
    color: #ff4081;
  }
  .FAB__action-button:hover .action-button__icon {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.14), 0 8px 16px rgba(0, 0, 0, 0.28);
  }
  .FAB__mini-action-button {
    bottom: 0;
    right: 30px;
  }

  .action-button__icon {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    background-color: #ff4081;
    border-radius: 50%;
    color: #fff;
    padding: 16px;
  }
  .action-button__text--hide {
    display: none;
  }
  .action-button__text--show {
    background-color: #212121;
    border-radius: 3px;
    color: #fff;
    right: 75px;
    font-size: 14px;
    font-family: "Helvetica Neue";
    opacity: .8;
    padding: 5px 9px;
    position: absolute;
    top: 2px;
    white-space: nowrap;
  }

  .mini-action-button__icon {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    background-color:#ff4081;
    border-radius: 50%;
    color: #fff;
    padding: 8px;
  }
  .mini-action-button__icon:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.14), 0 8px 16px rgba(0, 0, 0, 0.28);
  }
  .mini-action-button__text--hide {
    display: none;
  }
  .mini-action-button__text--show {
    background-color: #212121;
    border-radius: 3px;
    color: #fff;
    display: block;
    right: 60px;
    font-size: 14px;
    font-family: "Helvetica Neue";
    opacity: .8;
    padding: 5px 9px;
    z-index: 9999;
    position: absolute;
    top: -6px;
    white-space: nowrap;
  }
  .mini-action-button--show {
    position: absolute;
    text-align: center;
  }
  .mini-action-button--hide {
    display: none;
    opacity: 0;
  }

  .mini-action-button--show:nth-child(1) {
    bottom: 80px;
  }

  .mini-action-button--show:nth-child(2) {
    bottom: 140px;
  }

  .mini-action-button--show:nth-child(3) {
    bottom: 200px;
  }

  .mini-action-button--show:nth-child(4) {
    bottom: 260px;
  }

  .mini-action-button--show:nth-child(5) {
    bottom: 320px;
  }

  .mini-action-button--show:nth-child(6) {
    bottom: 380px;
  }

  .mini-action-button--show:nth-child(7) {
    bottom: 440px;
  }

  .mini-action-button--show:nth-child(8) {
    bottom: 500px;
  }

  .mini-action-button--show:nth-child(9) {
    bottom: 560px;
  }

  .mini-action-button--show:nth-child(10) {
    bottom: 620px;
  }
  /*center items*/
  .center-items {
    justify-content: center;
}

.mat-dialog-container{
  height: auto !important;
}

@media only screen and (max-width:500px) {

   .graph{
    height: 350px !important;
    width: 350px !important;
  }
  }



    /* Acordeon styles */
  .transition, .tab-content, ul li i:before, ul li i:after {
    transition: all 0.25s ease-in-out;
  }

  .flipIn, h1, ul li {
    animation: flipdown 0.5s ease both;
  }

  @media (max-width: 550px) {
    body {
      box-sizing: border-box;
      transform: translate(0, 0);
      max-width: 100%;
      min-height: 100%;
      margin: 0;
      left: 0;
    }
  }



  h2 {
    font-size:1.5em;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    padding:5px;
    padding-left: 10px;
    color: #fff;
    margin: 0;
    cursor: pointer;
  }

  .tab-content {
    color: #100F0F;
    font-size: 15px;
    line-height: 26px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
  }

  ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  ul li {
    position: relative;
    padding: 0;
    background: rgb(89, 108, 212);
    margin: 0;
    padding-bottom: 4px;
    padding-top: 0px;

  }
  ul li:nth-of-type(1) {
    animation-delay: 0.5s;
  }
  ul li:nth-of-type(2) {
    animation-delay: 0.75s;
  }
  ul li:nth-of-type(3) {
    animation-delay: 1s;
  }
  ul li:last-of-type {
    padding-bottom: 0;
  }
  ul li .icon-dropdown {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 17px;
    right:20px;
  }
  ul li .icon-dropdown:before, ul li .icon-dropdown:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 3px;
    height: 9px;
  }
  ul li .icon-dropdown:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  ul li .icon-dropdown:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
  ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  ul li input[type=checkbox]:checked ~ .tab-content {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
  ul li input[type=checkbox]:checked ~ .icon-dropdown:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  ul li input[type=checkbox]:checked ~ .icon-dropdown:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }

  @keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }
