
<div style="" >
<main class="mdl-grid " style="width: 200%; min-height:400px">

  <div class="mdl-color--white mdl-shadow--4dp mdl-cell mdl-cell--12-col mdl-grid" >

    <p>{{ccname}} , {{ccdesc}}, {{estcost}}</p>
    <br>
    <div *ngFor = 'let inp of inputArray; let i=index' >
      {{i+1}}.
      <md-form-field class="example-full-width input-item ">
        <input mdInput placeholder='Label' type="text"  [(ngModel)]="inp.labelData" required>
      </md-form-field>

      <md-form-field class="example-full-width input-item ">
        <input mdInput placeholder='Cost' type="number"  [(ngModel)]="inp.costData" required>
      </md-form-field>

      <md-form-field class="example-full-width input-item ">
        <input mdInput placeholder='Date' type="date"  [(ngModel)]="inp.dateData" required>
      </md-form-field>

      <button md-button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" (click)='removeCosting(i)' >-</button>

    </div>
    &nbsp;
    <button md-button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" (click)='addCosting()' >+</button>
    <hr>
    <button md-button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" (click)='saveCostingComponentData()' >Save</button>
    <button md-button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" (click)='discard()' >Discard</button>





  </div>

</main>
</div>
