<div style="width:100%; height:100%;" >

  <md-form-field class="example-full-width input-item" >
    <input mdInput placeholder="Folder Name" type="text">
  </md-form-field>
  <br>

  <md-form-field class="example-full-width input-item" >
    <input mdInput placeholder="Folder Description" type="text">
  </md-form-field>
  <br>

  <br>
  <br>
  <button md-button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" (click)="onCloseConfirm()">Add folder</button>



</div>
